.calc-base-btn {
  width: 25%;
  height: 75px;
  position: relative;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  outline: none;
  font-size: 1.75em;
  font-weight: 100;
}

.calc-base-btn:first-of-type {
  border-left: 1px solid #000;
}

.misc-btn {
  background-color: #dbddde;
}

.math-operation-btn {
  background-color: #ff9500;
  color: #fff;
}

.math-operation-btn.active-operator {
  border: 2px solid #000;
}

.num-btn {
  background-color: #f7f7f7;
}

.num-btn--zero {
  width: 50%;
  background-color: #f7f7f7;
}

.misc-btn:after, .math-operation-btn:after, .num-btn:after, .num-btn--zero:after {
  position:absolute;
  content:'\A';
  width:100%; 
  height:100%;
  top:0; 
  left:0;
  background:rgba(0,0,0,0.10);
  opacity:0;
}

.misc-btn:active:after, .math-operation-btn:active:after, .num-btn:active:after, .num-btn--zero:active:after {
  opacity: 1;
}
